#nav-global-main-menu, #nav-global-sub-menu {
    /*height: auto;*/
    /*min-height: 55px;*/
    box-sizing: border-box;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;


}

#nav-global-main-menu {
    background-color: var(--admin-interface-header-menu-background-color);
    color: var(--admin-interface-header-menu-link-color);
}


#nav-global-sub-menu {
    background-color: var(--admin-interface-header-menu-link-hover-background-color);
    color: var(--admin-interface-header-menu-link-color);
}


@media (max-width: 1024px) {
    #nav-global-main-menu, #nav-global-sub-menu {
        padding: 15px;
    }
}

@media (max-width: 767px) {

}

#admin_interface_main_menu {
    overflow-x: initial;
}

#admin_interface_main_menu svg {
    display: block;
    vertical-align: middle
}

#admin_interface_main_menu [hidden] {
    display: none
}


#admin_interface_main_menu .flex {
    display: flex
}

#admin_interface_main_menu .hidden {
    display: none
}

#admin_interface_main_menu .transform {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

#admin_interface_main_menu .rotate-0 {
    --tw-rotate: 0deg
}

#admin_interface_main_menu .rotate-180 {
    --tw-rotate: 180deg
}

#admin_interface_main_menu .scale-95 {
    --tw-scale-x: .95;
    --tw-scale-y: .95
}

#admin_interface_main_menu .scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1
}


.opacity-0 {
    opacity: 0
}

.opacity-100 {
    opacity: 1
}

#admin_interface_main_menu .transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

#admin_interface_main_menu .duration-75 {
    transition-duration: 75ms
}

#admin_interface_main_menu .duration-100 {
    transition-duration: .1s
}

#admin_interface_main_menu .ease-in {
    transition-timing-function: cubic-bezier(.4, 0, 1, 1)
}

#admin_interface_main_menu .ease-out {
    transition-timing-function: cubic-bezier(0, 0, .2, 1)
}

#admin_interface_main_menu .ai_nav {
    width: 100%;
    padding-top: .45rem;
    padding-bottom: .45rem;

    color: var(--admin-interface-header-menu-link-color);
}

#admin_interface_main_menu .ai_nav_container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

@media (min-width: 768px) {
    #admin_interface_main_menu .ai_nav_container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

#admin_interface_main_menu .ai_nav_mobile_btn_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem
}

@media (min-width: 768px) {
    #admin_interface_main_menu .ai_nav_mobile_btn_container {
        display: none
    }
}

#admin_interface_main_menu .burger {
    border-radius: 4px;
}

@media (min-width: 768px) {
    #admin_interface_main_menu .burger {
        display: none
    }
}

#admin_interface_main_menu .burger svg {
    height: 1.5rem;
    width: 1.5rem
}

#admin_interface_main_menu .ai_nav_items {
    flex-grow: 1;
    flex-direction: column;
    padding-bottom: 1rem
}

@media (min-width: 768px) {
    #admin_interface_main_menu .ai_nav_items {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 0;
    }
}

#admin_interface_main_menu .dropdown_container {
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
}

#admin_interface_main_menu .dropdown_container .ai_nav_item {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

#admin_interface_main_menu .ai_nav_item:first-child:not(.active) {
    padding-left: 0;
}
#admin_interface_main_menu .dropdown_container .ai_nav_item:first-child {
    padding-left: .5rem;
}
#admin_interface_main_menu .ai_nav_item {
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
    background-color: transparent;
    padding: .5rem .5rem .5rem 0.75rem;
    font-size: .875rem;
    line-height: 1.05;
    font-weight: 600;
    text-align: left;
    color: var(--admin-interface-header-menu-link-color);
    text-decoration: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: inline-flex;

    flex-direction: row;
    align-items: center;
    border-radius: 4px;

    /*white-space: nowrap;*/

}


#admin_interface_main_menu *:focus {
    text-decoration: none;
}

#admin_interface_main_menu .ai_nav_item:hover {
    color: var(--admin-interface-header-menu-link-hover-color);
}

@media (min-width: 768px) {
    #admin_interface_main_menu .ai_nav_item {

    }
}

#admin_interface_main_menu .ai_nav_item.active {
    padding: .5rem 0.75rem .5rem 0.75rem;
    background-color: var(--admin-interface-header-menu-link-hover-background-color);
}

#admin_interface_main_menu .ai_nav_item.active:hover {
    color: var(--admin-interface-header-menu-link-hover-color);
}

#admin_interface_main_menu .dropdown_container {
    position: relative;
}

#admin_interface_main_menu .dropdown_container svg {
    margin-top: .25rem;
    margin-left: .25rem;
    display: inline;
    height: 1rem;
    width: 1rem;
    flex-shrink: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    transition-duration: .2s
}

@media (min-width: 768px) {
    #admin_interface_main_menu .dropdown_container svg {
        margin-top: 0.1rem
    }
}

#admin_interface_main_menu .submenu {
    position: absolute;
    left: 0;
    z-index: 30;
    margin-top: .25rem;
    background: var(--admin-interface-header-menu-link-hover-color);
    width: 100%;
    transform-origin: top right;
    border-radius: 4px;
    min-width: 100%;
    box-shadow:
            0px 1.2px 2.2px rgba(0, 0, 0, 0.02),
            0px 2.8px 5.3px rgba(0, 0, 0, 0.028),
            0px 5.1px 10px rgba(0, 0, 0, 0.035),
            0px 9.2px 17.9px rgba(0, 0, 0, 0.042),
            0px 18.9px 33.4px rgba(0, 0, 0, 0.05),
            0px 49px 80px rgba(0, 0, 0, 0.07)
;
}

@media (min-width: 768px) {
    #admin_interface_main_menu .submenu {
        width: auto;
    }
}

#admin_interface_main_menu .submenu > div {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    padding: .25rem;
}

#admin_interface_main_menu .submenu_item {
    margin-top: .5rem;
    display: block;
    border-radius: 4px;
    padding: .5rem;
    font-size: .875rem;
    line-height: 1;
    font-weight: 500;
    white-space: nowrap;
}

@media (min-width: 768px) {
    #admin_interface_main_menu .submenu_item {
        margin-top: 0
    }
}

#admin_interface_main_menu .submenu_item {
    /*   TODO*/
}

#admin_interface_main_menu .submenu_item:hover {
    color: var(--admin-interface-header-menu-link-hover-color);
    background-color: var(--admin-interface-module-background-color);

}

#admin_interface_sub_nav {


}

#admin_interface_sub_nav .ai_sub_nav_item {
    padding: 0.75rem;
    display: inline-block;
    color: var(--admin-interface-header-menu-link-color);
}
#admin_interface_sub_nav .ai_sub_nav_item:first-child {
    padding-left: 0;
}

#admin_interface_sub_nav .ai_sub_nav_item:focus {
    text-decoration: none;
}


#admin_interface_sub_nav .ai_sub_nav_item.active {
    color: var(--admin-interface-header-menu-link-hover-color);

}
