/* top-right buttons color on hover -> just a lighten grey */
@media (min-width:768px) {
    .admin-interface .object-tools {
        margin-top: -45px;
        float: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: nowrap;
        gap: 6px;
    }
}
.admin-interface .object-tools li {
    margin-bottom: 0;
}
.admin-interface .object-tools a {
    color: #FFFFFF;
    white-space: nowrap;
}
.admin-interface .object-tools a:focus,
.admin-interface .object-tools a:hover,
.admin-interface .object-tools li:focus a,
.admin-interface .object-tools li:hover a {
    background-color: #AAAAAA;
}
