{% load i18n %}

{% if parent_item.children and not parent_item.is_active %}
    <div class="dropdown_container" x-data="{ open: false }" @click.away="open = false">
        <button class="{{ parent_item.is_active|yesno:' active,' }}" @click="open = !open">
{#             <i class="{% firstof parent_item.icon 'fa fa-chevron-right' %}"></i>#}
            <span>{% trans parent_item.label|capfirst %}</span>
            <svg :class="{'rotate-180': open, 'rotate-0': !open}" class="" fill="currentColor" viewBox="0 0 20 20">
                <path clip-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" fill-rule="evenodd"></path>
            </svg>
        </button>
        <div class="submenu" x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-end="transform opacity-100 scale-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:leave="transition ease-in duration-75" x-transition:leave-end="transform opacity-0 scale-95" x-transition:leave-start="transform opacity-100 scale-100">
            <div class="">
                <a class="submenu_item {{ parent_item.is_active|yesno:' class=active,' }}" href="{{ parent_item.url }}"
                        {{ parent_item.target_blank|yesno:' target=_blank,' }}>
                    {{ parent_item.label }}
                </a>
                {% for child_item in parent_item.children %}
                    <a class="submenu_item
                            {{ child_item.is_active|yesno:' class=active,' }}" href="{{ child_item.url }}"
                            {{ child_item.target_blank|yesno:' target=_blank,' }}>
                        {{ child_item.label }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <a class="ai_nav_item {{ parent_item.is_active|yesno:' active,' }}" href="{{ parent_item.url }}"
            {{ parent_item.target_blank|yesno:' target=_blank,' }}>
        {% trans parent_item.label|capfirst %}
    </a>
{% endif %}

{#<li class="{{ parent_item.is_active|yesno:' active,' }}{{ parent_item.children|yesno:' has-children,' }}">#}
{#    <a href="{{ parent_item.url }}" {{ parent_item.target_blank|yesno:' target=_blank,' }}>#}
{#        <i class="{% firstof parent_item.icon 'fa fa-chevron-right' %}"></i>#}
{#        {% trans parent_item.label|capfirst %}#}
{#    </a>#}
{#    {% if parent_item.children %}#}
{#        {% if not parent_item.is_active %}#}
{#            <ul class="sub-nav">#}
{#                {% for child_item in parent_item.children %}#}
{#                    <li{{ child_item.is_active|yesno:' class=active,' }}>#}
{#                        <a href="{{ child_item.url }}" {{ child_item.target_blank|yesno:' target=_blank,' }}>#}
{#                            {{ child_item.label }}#}
{#                        </a>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
{#    {% endif %}#}
{#</li>#}
